Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Allow specific plugin files
!Plugins/
!Plugins/**/
!Plugins/**/Binaries/
!Plugins/**/Intermediate/

Content/PinRPG_IconSet_01_Assets
Content/LevelPrototyping
Content/InfinityBladeEffects
Content/HandPaintedEnvironment
Content/CityofBrass_Enemies
Content/__ExternalObjects__
Content/__ExternalActors__