Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Allow specific plugin files
!Plugins/
!Plugins/**/
!Plugins/**/Binaries/
!Plugins/**/Intermediate/